{{define "lobby-game-info"}}
<table id="game-info-table">
    <thead>
        <tr>
            <th style="width: 25%">Lobby</th>
            <th style="width: 25%">Judge</th>
            <th style="width: 25%">Timer</th>
            <th style="width: 25%">
                Draw Pile
                {{if .PlayerIsLobbyOwner}}
                <span
                    title="Edit Draw Pile Decks"
                    class="bi bi-pencil clickable"
                    onclick="document.getElementById('lobby-draw-pile-dialog').showModal()"
                ></span>
                {{end}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {{.LobbyName}}
                {{if .PlayerIsLobbyOwner}}
                <span
                    class="bi bi-pencil clickable"
                    onclick="document.getElementById('lobby-update-dialog').showModal()"
                ></span>
                {{end}}
            </td>
            <td>
                {{if .JudgeName.Valid}}
                {{.JudgeName.String}}
                {{else}}
                (None)
                {{end}}
            </td>
            <td>
                <span id="round-timer">{{.RoundTimer}}</span> Seconds
            </td>
            <td>
                Prompt {{.DrawPilePromptCount}} | Response {{.DrawPileResponseCount}}
                <span
                    class="bi bi-info-circle"
                    title="{{.DrawPileDeckNames}}"
                ></span>
            </td>
        </tr>
    </tbody>
</table>
{{end}}