{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.PageTitle}}</title>
    <script
      src="https://unpkg.com/htmx.org@2.0.1"
      integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
      crossorigin="anonymous"
    ></script>
    <script src="/static/js/global.js"></script>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png" />
    <link rel="stylesheet" href="/static/css/colors.css" />
    <link rel="stylesheet" href="/static/css/global.css" />
  </head>
  {{if .Player.ColorTheme.Valid}}
  <body class="{{.Player.ColorTheme.String}}">
    {{else}}
    <body class="dark-theme">
      {{end}}
      <div id="topbar">
        <div style="text-align: left">
          <span
            class="clickable"
            onclick="location.href='/'"
            title="Go to Home Page"
          >
            Card Judge
          </span>
        </div>
        <div style="text-align: right">
          <span
            id="topbar-menu-toggle"
            class="clickable"
            onclick="toggleTopbarMenu()"
            title="Menu Toggle"
          >
            &#9776;
          </span>
        </div>
      </div>
      <div id="topbar-menu">
        {{if .LoggedIn}}
        <div class="topbar-menu-item">Playing As: {{.Player.Name}}</div>
        <div class="topbar-menu-link" onclick="location.href='/manage'">
          &#128295; Manage Account
        </div>
        <div
          class="topbar-menu-link"
          hx-post="/api/player/logout"
          hx-confirm="Are you sure you want to logout?"
        >
          Logout
        </div>
        {{else}}
        <div class="topbar-menu-link" onclick="location.href='/login'">
          Login
        </div>
        {{end}}
      </div>
      <div id="content">
        <div id="body">{{template "body" .}}</div>
      </div>
      {{if .Player.ColorTheme.Valid}}
    </body>
    {{else}}
  </body>
  {{end}}
</html>
{{end}}
