{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Data.PageTitle}}</title>
    <script
      src="https://unpkg.com/htmx.org@2.0.1"
      integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
      crossorigin="anonymous"
    ></script>
    <script src="/static/js/global.js"></script>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png" />
    <link rel="stylesheet" href="/static/css/colors.css" />
    <link rel="stylesheet" href="/static/css/global.css" />
  </head>
  {{if .Data.Player.ColorTheme.Valid}}
  <body class="{{.Data.Player.ColorTheme.String}}">
  {{else}}
  <body class="dark-theme">
  {{end}}
    <div id="topbar">
      <div style="text-align: left">
        <span class="clickable" onclick="location.href='/'">Card Judge</span>
      </div>
      <div style="text-align: right">
        {{if .Data.LoggedIn}}
        <span class="clickable" onclick="location.href='/manage'">
          {{.Data.Player.Name}}
        </span>
        {{else}}
        <span class="clickable" onclick="location.href='/login'">Login</span>
        {{end}}
      </div>
    </div>
    <div id="content">
      <div id="body">{{template "body" .}}</div>
    </div>
  </body>
</html>
{{end}}
