{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card Judge</title>
    <script
      src="https://unpkg.com/htmx.org@2.0.1"
      integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div style="float: right">
      {{if .LoggedIn}}
      <p>Playing as: {{ .PlayerName }}</p>
      {{else}}
      <button onclick="document.getElementById('login-modal').showModal()">
        Login
      </button>
      <dialog id="login-modal">
        <form hx-post="/api/login" hx-swap="outerHTML">
          <label for="playerName">Player Name:</label>
          <input
            type="text"
            id="playerName"
            name="playerName"
            maxlength="255"
            required
          />
          <br />
          <br />
          <input type="submit" value="Login" />
        </form>
        <br />
        <button onclick="document.getElementById('login-modal').close()">
          Close
        </button>
      </dialog>
      <br />
      {{end}}
    </div>
    {{template "body" .}}
  </body>
</html>
{{end}}
