{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card Judge</title>
    <script
      src="https://unpkg.com/htmx.org@2.0.1"
      integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div style="float: right">
      {{if .LoggedIn}}
      <p>Playing as: {{ .PlayerName }}</p>
      {{else}}
      <button hx-post="/api/login" hx-trigger="click" hx-swap="outerHTML">
        Login
      </button>
      <br />
      {{end}}
    </div>
    {{template "body" .}}
  </body>
</html>
{{end}}
