{{define "card-create-form"}}
<form hx-post="/api/card/create" hx-target="find .htmx-result">
  <input
    type="text"
    id="newCardDeckId"
    name="deckId"
    value="{{.Deck.Id}}"
    hidden
  />
  <label for="newCardCardType">Type:</label>
  <select id="newCardCardType" name="cardType" required>
    <option value="Judge" selected>Judge</option>
    <option value="Player">Player</option>
  </select>
  <br />
  <label for="newCardText" style="vertical-align: top">Text:</label>
  <textarea
    id="newCardText"
    name="text"
    maxlength="255"
    placeholder="Enter New Card Text"
    required="true"
    cols="40"
    rows="10"
  ></textarea>
  <br />
  <br />
  <div class="htmx-result"></div>
  <input type="submit" value="Create" />
</form>
{{end}}
