{{define "card-type-form"}}
<form hx-put="/api/card/{{.Id}}/type" hx-target="find .htmx-result">
  <h3>Set Card Type</h3>
  <input
    type="text"
    id="deckId{{.Id}}"
    name="deckId"
    value="{{.DeckId}}"
    hidden
  />
  <label for="cardType{{.Id}}">Type:</label>
  <select id="cardType{{.Id}}" name="cardType" autocomplete="off" required>
    {{if eq .Type "Judge"}}
    <option value="Judge" selected>Judge</option>
    <option value="Player">Player</option>
    {{else}}
    <option value="Judge">Judge</option>
    <option value="Player" selected>Player</option>
    {{end}}
  </select>
  <br />
  <br />
  <div class="htmx-result"></div>
  <input type="submit" value="Set Card Type" />
</form>
{{end}}
