{{define "card-text-form"}}
<form hx-put="/api/card/{{.Id}}/text" hx-target="find .htmx-result">
  <h3>Set Card Text</h3>
  <input
    type="text"
    id="deckId{{.Id}}"
    name="deckId"
    value="{{.DeckId}}"
    hidden
  />
  <label for="text{{.Id}}" style="vertical-align: top">Text:</label>
  <textarea
    id="text{{.Id}}"
    name="text"
    maxlength="255"
    placeholder="Enter Card Text"
    required="true"
    cols="40"
    rows="10"
    autocomplete="off"
  >
{{.Text}}</textarea
  >
  <br />
  <br />
  <div class="htmx-result"></div>
  <input type="submit" value="Set Card Text" />
</form>
{{end}}
