{{define "deck-password-form"}}
<form hx-put="/api/deck/{{.Deck.Id}}/password" hx-target="find .htmx-result">
  <h3>Set Deck Password</h3>
  <label for="newDeckPassword">New Password:</label>
  <input
    type="password"
    id="newDeckPassword"
    name="password"
    maxlength="255"
    placeholder="Enter Password"
    autocomplete="new-password"
  />
  <br />
  <label for="newDeckPasswordConfirm">Confirm New Password:</label>
  <input
    type="password"
    id="newDeckPasswordConfirm"
    name="passwordConfirm"
    maxlength="255"
    placeholder="Enter Password"
    autocomplete="off"
  />
  <br />
  <br />
  <div class="htmx-result"></div>
  <input type="submit" value="Set Deck Password" />
</form>
{{end}}
