{{define "deck-update-form"}}
<form hx-put="/api/deck/{{.Deck.Id}}">
  <label for="newDeckName">Name:</label>
  <input
    type="text"
    id="newDeckName"
    name="newDeckName"
    maxlength="255"
    placeholder="Enter Deck Name"
    required="true"
    value="{{.Deck.Name}}"
  />
  <br />
  <label for="newDeckPassword">Password:</label>
  <input
    type="password"
    id="newDeckPassword"
    name="newDeckPassword"
    maxlength="255"
    placeholder="Enter Deck Password"
  />
  <br />
  <br />
  <div class="htmx-result-good"></div>
  <div class="htmx-result-bad"></div>
  <input type="submit" value="Update" />
</form>
{{end}}
