{{define "deck-create-form"}}
<h3>Create a new Deck</h3>
<form hx-post="/api/deck/create">
  <label for="name">Name:</label>
  <input
    type="text"
    id="name"
    name="name"
    maxlength="255"
    placeholder="Enter Deck Name"
    required="true"
  />
  <br />
  <label for="password">Password:</label>
  <input
    type="text"
    id="password"
    name="password"
    maxlength="255"
    placeholder="Enter Deck Password"
  />
  <br />
  <br />
  <div class="htmx-result-good"></div>
  <div class="htmx-result-bad"></div>
  <input type="submit" value="Create" />
</form>
{{end}}
