{{define "deck-create-form"}}
<form hx-post="/api/deck/create" hx-target="find .htmx-result">
  <label for="newDeckName">Name:</label>
  <input
    type="text"
    id="newDeckName"
    name="name"
    maxlength="255"
    placeholder="Enter New Deck Name"
    required="true"
    autocomplete="off"
  />
  <br />
  <label for="newDeckPassword">Password:</label>
  <input
    type="password"
    id="newDeckPassword"
    name="password"
    maxlength="255"
    placeholder="Enter New Deck Password"
    autocomplete="off"
  />
  <br />
  <br />
  <div class="htmx-result"></div>
  <input type="submit" value="Create" />
</form>
{{end}}
