{{define "deck-update-form"}}
<form hx-put="/api/deck/{{.Deck.Id}}" hx-target="find .htmx-result">
  <label for="newDeckName">Name:</label>
  <input
    type="text"
    id="newDeckName"
    name="name"
    maxlength="255"
    placeholder="Enter Deck Name"
    required="true"
    value="{{.Deck.Name}}"
  />
  <br />
  <label for="newDeckPassword">Password:</label>
  <input
    type="password"
    id="newDeckPassword"
    name="password"
    maxlength="255"
    placeholder="Enter Deck Password"
  />
  <br />
  <br />
  <div class="htmx-result"></div>
  <input type="submit" value="Update" />
</form>
{{end}}
