{{define "lobby-access-form"}}
<form hx-post="/api/access/lobby/{{.Lobby.Id}}" style="text-align: center">
  <h3>Lobby: {{.Lobby.Name}}</h3>
  <p>You must provide the password to join lobby.</p>
  <input
    type="password"
    id="password"
    name="password"
    maxlength="255"
    placeholder="Enter Lobby Password"
    required="true"
    autofocus="true"
  />
  <br />
  <br />
  <div class="htmx-result-good"></div>
  <div class="htmx-result-bad"></div>
  <input type="submit" value="Submit" />
</form>
{{end}}
