{{define "lobby-deck-form"}}
<form hx-put="/api/lobby/{{.Lobby.Id}}/decks" hx-target="find .htmx-result">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Created</th>
        <th>Name</th>
        <th>Security</th>
      </tr>
    </thead>
    <tbody>
      {{range .Decks}}
      <tr>
        <td>
          {{if .InLobby}}
          <div
            title="Remove"
            class="clickable"
            hx-post="/api/lobby/{{$.Lobby.Id}}/deck/{{.Id}}/remove"
            hx-target="closest td"
          >
            &#10005;
          </div>
          {{else}}
          <div
            title="Add"
            class="clickable"
            hx-post="/api/lobby/{{$.Lobby.Id}}/deck/{{.Id}}/add"
            hx-target="closest td"
          >
            &#10010;
          </div>
          {{end}}
        </td>
        <td>{{.CreatedOnDate.Format "2006-01-02"}}</td>
        <td>{{.Name}}</td>
        <td>
          {{if .PasswordHash.Valid}} Protected &#128274; {{else}} Open {{end}}
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
  <br />
  <br />
  <div class="htmx-result"></div>
  <input type="submit" value="Select Decks" />
</form>
{{end}}
