{{define "lobby-update-form"}}
<form hx-put="/api/lobby/{{.Lobby.Id}}" hx-target="find .htmx-result">
  <label for="newLobbyName">Name:</label>
  <input
    type="text"
    id="newLobbyName"
    name="name"
    maxlength="255"
    placeholder="Enter Lobby Name"
    required="true"
    value="{{.Lobby.Name}}"
    autocomplete="off"
  />
  <br />
  <label for="newLobbyPassword">Password:</label>
  <input
    type="password"
    id="newLobbyPassword"
    name="password"
    maxlength="255"
    placeholder="Enter Lobby Password"
    autocomplete="off"
  />
  <br />
  <br />
  <div class="htmx-result"></div>
  <input type="submit" value="Update" />
</form>
{{end}}
