{{define "lobby-create-form"}}
<h3>Create a new Lobby</h3>
<form hx-post="/api/lobby/create">
  <label for="name">Name:</label>
  <input
    type="text"
    id="name"
    name="name"
    maxlength="255"
    placeholder="Enter Lobby Name"
    required="true"
  />
  <br />
  <label for="password">Password:</label>
  <input
    type="text"
    id="password"
    name="password"
    maxlength="255"
    placeholder="Enter Lobby Password"
  />
  <br />
  <br />
  <div class="htmx-result-good"></div>
  <div class="htmx-result-bad"></div>
  <input type="submit" value="Create" />
</form>
{{end}}
