{{define "lobby-update-form"}}
<form hx-put="/api/lobby/{{.Lobby.Id}}">
  <label for="newLobbyName">Name:</label>
  <input
    type="text"
    id="newLobbyName"
    name="newLobbyName"
    maxlength="255"
    placeholder="Enter Lobby Name"
    required="true"
    value="{{.Lobby.Name}}"
  />
  <br />
  <label for="newLobbyPassword">Password:</label>
  <input
    type="password"
    id="newLobbyPassword"
    name="newLobbyPassword"
    maxlength="255"
    placeholder="Enter Lobby Password"
  />
  <br />
  <br />
  <div class="htmx-result-good"></div>
  <div class="htmx-result-bad"></div>
  <input type="submit" value="Update" />
</form>
{{end}}
