{{define "lobby-create-form"}}
<form hx-post="/api/lobby/create" hx-target="find .htmx-result">
  <label for="newLobbyName">Name:</label>
  <input
    type="text"
    id="newLobbyName"
    name="name"
    maxlength="255"
    placeholder="Enter New Lobby Name"
    required="true"
  />
  <br />
  <label for="newLobbyPassword">Password:</label>
  <input
    type="password"
    id="newLobbyPassword"
    name="password"
    maxlength="255"
    placeholder="Enter New Lobby Password"
  />
  <br />
  <br />
  <div class="htmx-result"></div>
  <input type="submit" value="Create" />
</form>
{{end}}
