{{define "lobby-password-form"}}
<form hx-put="/api/lobby/{{.Lobby.Id}}/password" hx-target="find .htmx-result">
  <h3>Set Lobby Password</h3>
  <label for="newLobbyPassword">New Password:</label>
  <input
    type="password"
    id="newLobbyPassword"
    name="password"
    maxlength="255"
    placeholder="Enter Password"
    autocomplete="new-password"
  />
  <br />
  <label for="newLobbyPasswordConfirm">Confirm New Password:</label>
  <input
    type="password"
    id="newLobbyPasswordConfirm"
    name="passwordConfirm"
    maxlength="255"
    placeholder="Enter Password"
    autocomplete="off"
  />
  <br />
  <br />
  <div class="htmx-result"></div>
  <input type="submit" value="Set Lobby Password" />
</form>
{{end}}
