{{define "lobby-create-form"}}
<form hx-post="/api/lobby/create">
  <label for="newLobbyName">Name:</label>
  <input
    type="text"
    id="newLobbyName"
    name="newLobbyName"
    maxlength="255"
    placeholder="Enter New Lobby Name"
    required="true"
  />
  <br />
  <label for="newLobbyPassword">Password:</label>
  <input
    type="password"
    id="newLobbyPassword"
    name="newLobbyPassword"
    maxlength="255"
    placeholder="Enter New Lobby Password"
  />
  <br />
  <br />
  <div class="htmx-result-good"></div>
  <div class="htmx-result-bad"></div>
  <input type="submit" value="Create" />
</form>
{{end}}
