{{define "player-create-form"}}
<form hx-post="/api/player/create" style="text-align: center">
  <h3>Create a New Player</h3>
  <label for="createPlayerName">Name:</label>
  <input
    type="text"
    id="createPlayerName"
    name="name"
    maxlength="255"
    placeholder="Enter Player Name"
    required="true"
  />
  <br />
  <label for="createPlayerPassword">Password:</label>
  <input
    type="password"
    id="createPlayerPassword"
    name="password"
    maxlength="255"
    placeholder="Enter Player Password"
    required="true"
  />
  <br />
  <br />
  <div class="htmx-result-good"></div>
  <div class="htmx-result-bad"></div>
  <input type="submit" value="Create Player" />
</form>
{{end}}
