{{define "player-create-form"}}
<form hx-post="/api/player/create" style="text-align: center">
  <h3>Login</h3>
  <label for="playerName">Name:</label>
  <input
    type="text"
    id="playerName"
    name="playerName"
    maxlength="255"
    placeholder="Enter Player Name"
    required="true"
    autofocus="true"
  />
  <br />
  <label for="playerPassword">Password:</label>
  <input
    type="password"
    id="playerPassword"
    name="playerPassword"
    maxlength="255"
    placeholder="Enter Player Password"
    required="true"
  />
  <br />
  <br />
  <div class="htmx-result-good"></div>
  <div class="htmx-result-bad"></div>
  <input type="submit" value="Submit" />
</form>
{{end}}
