{{define "player-name-form"}}
<form
  hx-put="/api/player/{{.Data.Player.Id}}/name"
  hx-target="find .htmx-result"
>
  <h3>Set Player Name</h3>
  <p>Current Name: {{.Data.Player.Name}}</p>
  <label for="setPlayerName">New Name:</label>
  <input
    type="text"
    id="setPlayerName"
    name="name"
    maxlength="255"
    placeholder="Enter Name"
    required="true"
    autocomplete="off"
  />
  <br />
  <br />
  <div class="htmx-result"></div>
  <input type="submit" value="Set Player Name" />
</form>
{{end}}
