{{define "player-update-form"}}
<form hx-put="/api/player/{{.Data.Player.Id}}">
  <label for="playerName">Name:</label>
  <input
    type="text"
    id="playerName"
    name="playerName"
    maxlength="255"
    placeholder="Enter Player Name"
    required="true"
    autofocus="true"
  />
  <br />
  <label for="playerPassword">Password:</label>
  <input
    type="password"
    id="playerPassword"
    name="playerPassword"
    maxlength="255"
    placeholder="Enter Player Password"
    required="true"
  />
  <br />
  <br />
  <div class="htmx-result-good"></div>
  <div class="htmx-result-bad"></div>
  <input type="submit" value="Update" />
</form>
<br />
<details>
  <summary>Logout</summary>
  <button
    hx-delete="/api/player/{{.Data.Player.Id}}"
    hx-confirm="Are you sure you want to logout?"
  >
    Logout
  </button>
</details>
{{end}}
