{{define "player-login-form"}}
<form hx-post="/api/player/login" hx-target="find .htmx-result">
  <h3>Player Login</h3>
  <label for="playerName">Name:</label>
  <input
    type="text"
    id="playerName"
    name="name"
    maxlength="255"
    placeholder="Enter Player Name"
    required="true"
  />
  <br />
  <label for="playerPassword">Password:</label>
  <input
    type="password"
    id="playerPassword"
    name="password"
    maxlength="255"
    placeholder="Enter Player Password"
    required="true"
  />
  <br />
  <br />
  <div class="htmx-result"></div>
  <input type="submit" value="Login" />
</form>
{{end}}
