{{define "player-password-form"}}
<form hx-put="/api/player/{{.Data.Player.Id}}/password">
  <h3>Set Player Password</h3>
  <label for="newPlayerPassword">New Password:</label>
  <input
    type="password"
    id="newPlayerPassword"
    name="password"
    maxlength="255"
    placeholder="Enter Password"
    required="true"
  />
  <br />
  <label for="newPlayerPasswordConfirm">Confirm New Password:</label>
  <input
    type="password"
    id="newPlayerPasswordConfirm"
    name="passwordConfirm"
    maxlength="255"
    placeholder="Enter Password"
    required="true"
  />
  <br />
  <br />
  <div class="htmx-result-good"></div>
  <div class="htmx-result-bad"></div>
  <input type="submit" value="Set Player Password" />
</form>
{{end}}
