{{define "player-color-theme-form"}}
<form
  hx-put="/api/player/{{.Data.Player.Id}}/color-theme"
  hx-target="find .htmx-result"
>
  <h3>Set Color Theme</h3>
  <label for="setPlayerColorTheme">Color Theme:</label>
  <select id="setPlayerColorTheme" name="colorTheme" required>
    {{if eq .Data.Player.ColorTheme.String "light-theme"}}
    <option value="dark-theme">&#127762; Dark</option>
    <option value="light-theme" selected>&#127766; Light</option>
    {{else}}
    <option value="dark-theme" selected>&#127762; Dark</option>
    <option value="light-theme">&#127766; Light</option>
    {{end}}
  </select>
  <br />
  <br />
  <div class="htmx-result"></div>
  <input type="submit" value="Set Color Theme" />
</form>
{{end}}
