{{define "body"}}
<h1>Admin</h1>
<div>{{template "player-create-default-form" .}}</div>
<br />
<h3>Players</h3>
<table>
  <tr>
    <th>Created</th>
    <th>Name</th>
    <th>Is Admin</th>
  </tr>
  {{range .Players}}
  <tr>
    <td>{{.CreatedOnDate.Format "2006-01-02"}}</td>
    <td>{{.Name}}</td>
    <td>
      <select
        name="isAdmin"
        hx-put="/api/player/{{.Id}}/is-admin"
        hx-trigger="change"
        hx-target="closest td"
      >
        {{if .IsAdmin}}
        <option value="0">No</option>
        <option value="1" selected>Yes</option>
        {{else}}
        <option value="0" selected>No</option>
        <option value="1">Yes</option>
        {{end}}
      </select>
    </td>
  </tr>
  {{end}}
</table>
{{end}}
