{{define "body"}}
<div>{{template "deck-create-dialog" .}}</div>
<br />
{{$deckCount := len .Decks}} {{if gt $deckCount 0}}
<h3>Choose a Deck to Modify</h3>
<input
  type="search"
  id="deckSearch"
  name="search"
  maxlength="255"
  placeholder="Search..."
  autocomplete="off"
  hx-post="/api/deck/search"
  hx-trigger="input changed delay:500ms, search"
  hx-target="#deck-table-rows"
/>
<table>
  <thead>
    <tr>
      <th>Created</th>
      <th>Name</th>
      <th>Security</th>
    </tr>
  </thead>
  <tbody id="deck-table-rows">
    {{template "deck-table-rows" .Decks}}
  </tbody>
</table>
{{end}} {{end}}
