{{define "body"}}
<div>
  {{if .HasAccess}}
  <h3>Deck: {{.Deck.Name}}</h3>
  <button
    onclick="document.getElementById('update-deck-dialog').showModal()"
    style="cursor: pointer"
  >
    Edit Deck &#128393;
  </button>
  <dialog id="update-deck-dialog">
    <div style="display: grid; grid-auto-flow: column">
      <h3>Update Deck</h3>
      <div
        onclick="document.getElementById('update-deck-dialog').close()"
        style="cursor: pointer; text-align: right"
      >
        &#128936;
      </div>
    </div>

    <h4>Current Values</h4>
    <div>Name: {{.Deck.Name}}</div>
    <div>Password: {{.Deck.Password.String}}</div>

    <h4>New Values</h4>
    <form hx-put="/api/deck/{{.Deck.Id}}">
      <label for="newDeckName">Name:</label>
      <input
        type="text"
        id="newDeckName"
        name="newDeckName"
        maxlength="255"
        placeholder="Enter Deck Name"
        required="true"
        value="{{.Deck.Name}}"
      />
      <br />
      <label for="newDeckPassword">Password:</label>
      <input
        type="text"
        id="newDeckPassword"
        name="newDeckPassword"
        maxlength="255"
        placeholder="Enter Deck Password"
        value="{{.Deck.Password.String}}"
      />
      <br />
      <br />
      <div class="htmx-result-good"></div>
      <div class="htmx-result-bad"></div>
      <input type="submit" value="Update" />
    </form>
  </dialog>
  <button
    hx-delete="/api/deck/{{.Deck.Id}}"
    hx-confirm="Are you sure you want to delete this deck?"
  >
    Delete Deck
  </button>
  <br />
  <h3>Create a new Card</h3>
  <form hx-post="/api/card/create">
    <input type="text" id="deckId" name="deckId" value="{{.Deck.Id}}" hidden />
    <label for="cardType">Type:</label>
    <select id="cardType" name="cardType" required>
      <option value="Judge" selected>Judge</option>
      <option value="Player">Player</option>
    </select>
    <br />
    <label for="text" style="vertical-align: top">Text:</label>
    <textarea
      id="text"
      name="text"
      maxlength="255"
      placeholder="Enter Card Text"
      required="true"
      cols="40"
      rows="10"
    ></textarea>
    <br />
    <br />
    <div class="htmx-result-good"></div>
    <div class="htmx-result-bad"></div>
    <input type="submit" value="Create" />
  </form>
  <br />
  <h3>Cards in Deck</h3>
  <table>
    <tr>
      <th>Date Added</th>
      <th>Type</th>
      <th>Text</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    {{range .Cards}}
    <tr>
      <td>{{.DateAdded.Format "2006-01-02"}}</td>
      <td>{{.Type}}</td>
      <td style="white-space: pre">{{.Text}}</td>
      <td>
        <button
          onclick="document.getElementById('update-card-{{.Id}}-dialog').showModal()"
          style="cursor: pointer"
        >
          Edit &#128393;
        </button>
        <dialog id="update-card-{{.Id}}-dialog">
          <div style="display: grid; grid-auto-flow: column">
            <h3>Update Card</h3>
            <div
              onclick="document.getElementById('update-card-{{.Id}}-dialog').close()"
              style="cursor: pointer; text-align: right"
            >
              &#128936;
            </div>
          </div>

          <h4>Current Values</h4>
          <div>Type: {{.Type}}</div>
          <div>Text: {{.Text}}</div>

          <h4>New Values</h4>
          <form hx-put="/api/card/{{.Id}}">
            <label for="cardType{{.Id}}">Type:</label>
            <select id="cardType{{.Id}}" name="cardType" required>
              {{if eq .Type "Judge"}}
              <option value="Judge" selected>Judge</option>
              <option value="Player">Player</option>
              {{else}}
              <option value="Judge">Judge</option>
              <option value="Player" selected>Player</option>
              {{end}}
            </select>
            <br />
            <label for="text{{.Id}}" style="vertical-align: top">Text:</label>
            <textarea
              id="text{{.Id}}"
              name="text"
              maxlength="255"
              placeholder="Enter Card Text"
              required="true"
              cols="40"
              rows="10"
            >
{{.Text}}</textarea
            >
            <br />
            <br />
            <div class="htmx-result-good"></div>
            <div class="htmx-result-bad"></div>
            <input type="submit" value="Update" />
          </form>
        </dialog>
      </td>
      <td>
        <button
          hx-delete="/api/card/{{.Id}}"
          hx-confirm="Are you sure you want to delete this card?"
          class="color-red"
          style="cursor: pointer"
        >
          Delete &#128465;
        </button>
      </td>
    </tr>
    {{end}}
  </table>
  {{else}}
  <form hx-post="/api/deck/{{.Deck.Id}}/access" style="text-align: center">
    <h3>Deck: {{.Deck.Name}}</h3>
    <p>You must provide the password to see cards.</p>
    <input
      type="text"
      id="password"
      name="password"
      maxlength="255"
      placeholder="Enter Deck Password"
      required="true"
      autofocus="true"
    />
    <br />
    <br />
    <div class="htmx-result-good"></div>
    <div class="htmx-result-bad"></div>
    <input type="submit" value="Submit" />
  </form>
  {{end}}
</div>
{{end}}
