{{define "body"}}
<h3>Create a new Deck</h3>
<form hx-post="/api/deck/create">
  <label for="name">Name:</label>
  <input
    type="text"
    id="name"
    name="name"
    maxlength="255"
    placeholder="Enter Deck Name"
    required="true"
  />
  <br />
  <label for="password">Password:</label>
  <input
    type="text"
    id="password"
    name="password"
    maxlength="255"
    placeholder="Enter Deck Password"
  />
  <br />
  <br />
  <input type="submit" value="Create" />
</form>
<br />
<h3>Choose a Deck to Modify</h3>
<table>
  <tr>
    <th>Date Added</th>
    <th>Name</th>
    <th>Security</th>
  </tr>
  {{range .Decks}}
  <tr>
    <td>{{.DateAdded.Format "2006-01-02"}}</td>
    <td><a href="/deck/{{.Id}}">{{.Name}}</a></td>
    <td>{{if .Password.Valid}} Protected &#128274; {{else}} Open {{end}}</td>
  </tr>
  {{end}}
</table>
{{end}}
