{{define "body"}} {{if not .HasAccess}}
<div>{{template "lobby-access-form" .}}</div>
{{else}}
<script src="/static/js/lobby.js"></script>
<link rel="stylesheet" href="/static/css/lobby.css" />
<div id="lobby-grid-container">
  <div id="lobby-header">
    <span>Lobby: {{.Lobby.Name}}</span>
    <span>{{template "lobby-update-dialog" .}}</span>
    <span
      hx-get="/api/lobby/{{.Lobby.Id}}/card-count"
      hx-trigger="load delay:1s, every 60s"
    ></span>
  </div>
  <div id="lobby-left-side">{{template "player-hand" .}}</div>
  <div id="lobby-middle">Board</div>
  <div id="lobby-right-side">
    <div
      hx-get="/api/lobby/{{.Lobby.Id}}/player-wins"
      hx-trigger="load delay:5s, every 30s"
    ></div>
  </div>
  <div id="lobby-footer">
    <div id="lobby-chat-messages"></div>
    <form id="lobby-chat-form">
      <input
        id="lobby-chat-input"
        type="text"
        maxlength="255"
        placeholder="Send a message..."
      />
      <input id="lobby-chat-submit" type="submit" value="Send" />
    </form>
  </div>
</div>
{{end}} {{end}}
