{{define "body"}} {{if not .HasAccess}}
<div>{{template "lobby-access-form" .}}</div>
{{else}}
<script src="/static/js/lobby.js"></script>
<h3>Lobby: {{.Lobby.Name}}</h3>
<div>{{template "lobby-update-dialog" .}}</div>
<br />
<div>
  <h4>Players</h4>
  <ul hx-get="/api/lobby/{{.Lobby.Id}}/players" hx-trigger="every 2s"></ul>
</div>
<br />
<div>
  <h4>Chat Box</h4>
  <div id="chatbox"></div>
</div>
<h3>Cards in Lobby</h3>
<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Text</th>
    </tr>
  </thead>
  <tbody>
    {{range .Lobby.Cards}}
    <tr>
      <td>{{.Type}}</td>
      <td style="white-space: pre">{{.Text}}</td>
    </tr>
    {{end}}
  </tbody>
</table>
{{end}} {{end}}
