{{define "body"}}
<link rel="stylesheet" href="/static/css/stats.css" />
<h1>Statistics</h1>
<h2>Leaderboard</h2>
<form
  hx-post="/api/stats/leaderboard"
  hx-trigger="load, change"
  hx-target="#leaderboard"
>
  <label for="leaderboardTopic">Topic:</label>
  <select id="leaderboardTopic" name="topic" autocomplete="off">
    <option value="win-ratio" selected>Best Win Ratio</option>
    <option value="win">Most Wins</option>
    <option value="play">Most Plays</option>
    <option value="draw">Most Draws</option>
    <option value="discard">Most Discards</option>
    <option value="skip">Most Skips</option>
  </select>
  <label for="leaderboardSubject">Subject:</label>
  <select id="leaderboardSubject" name="subject" autocomplete="off">
    <option value="player" selected>Player</option>
    <option value="card">Card</option>
    <option value="special-category">Special Category</option>
  </select>
</form>
<div id="leaderboard"></div>
<br />
<details>
  <summary class="summary-level-1">Most Picks</summary>
  <details>
    <summary class="summary-level-2">By Player</summary>
    <details open>
      <summary class="summary-level-3">You Were Judge</summary>
      <table>
        <thead>
          <tr>
            <th>Count</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          {{range .MostPicksByPlayerPicker}}
          <tr>
            <td>{{.Count}}</td>
            <td>{{.Name}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </details>
    <details open>
      <summary class="summary-level-3">You Were Winning Player</summary>
      <table>
        <thead>
          <tr>
            <th>Count</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          {{range .MostPicksByPlayerPicked}}
          <tr>
            <td>{{.Count}}</td>
            <td>{{.Name}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </details>
  </details>
  <details>
    <summary class="summary-level-2">By Card</summary>
    <details open>
      <summary class="summary-level-3">You Were Judge</summary>
      <table>
        <thead>
          <tr>
            <th>Count</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          {{range .MostPicksByCardPicker}}
          <tr>
            <td>{{.Count}}</td>
            <td>{{.Name}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </details>
    <details open>
      <summary class="summary-level-3">You Were Winning Player</summary>
      <table>
        <thead>
          <tr>
            <th>Count</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          {{range .MostPicksByCardPicked}}
          <tr>
            <td>{{.Count}}</td>
            <td>{{.Name}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </details>
  </details>
  <details>
    <summary class="summary-level-2">By Special Category</summary>
    <details open>
      <summary class="summary-level-3">You Were Judge</summary>
      <table>
        <thead>
          <tr>
            <th>Count</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          {{range .MostPicksBySpecialCategoryPicker}}
          <tr>
            <td>{{.Count}}</td>
            <td>{{.Name}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </details>
    <details open>
      <summary class="summary-level-3">You Were Winning Player</summary>
      <table>
        <thead>
          <tr>
            <th>Count</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          {{range .MostPicksBySpecialCategoryPicked}}
          <tr>
            <td>{{.Count}}</td>
            <td>{{.Name}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </details>
  </details>
</details>
{{end}}
