{{define "body"}}
<link rel="stylesheet" href="/static/css/stats.css" />
<h1>Statistics</h1>
<h2>{{.User.Name}}</h2>
<div>
  <table>
    <tbody>
      <tr>
        <td>Games Won</td>
        <td>{{.PersonalStats.GameWinCount}}</td>
      </tr>
      <tr>
        <td>Games Played</td>
        <td>{{.PersonalStats.GamePlayCount}}</td>
      </tr>
      <tr>
        <td>Rounds Won</td>
        <td>{{.PersonalStats.RoundWinCount}}</td>
      </tr>
      <tr>
        <td>Cards Played</td>
        <td>{{.PersonalStats.CardPlayCount}}</td>
      </tr>
      <tr>
        <td>Cards Drawn</td>
        <td>{{.PersonalStats.CardDrawCount}}</td>
      </tr>
      <tr>
        <td>Cards Discarded</td>
        <td>{{.PersonalStats.CardDiscardCount}}</td>
      </tr>
      <tr>
        <td>Cards Skipped</td>
        <td>{{.PersonalStats.CardSkipCount}}</td>
      </tr>
    </tbody>
  </table>
</div>
<h2>Leaderboard</h2>
<form
  hx-post="/api/stats/leaderboard"
  hx-trigger="load, change"
  hx-target="#leaderboard"
>
  <label for="leaderboardTopic">Topic:</label>
  <select id="leaderboardTopic" name="topic" autocomplete="off">
    <option value="game-win-ratio" selected>Best Game Win Ratio</option>
    <option value="game-win">Most Games Won</option>
    <option value="game-play">Most Games Played</option>
    <option value="round-win-ratio">Best Round Win Ratio</option>
    <option value="round-win">Most Rounds Won</option>
    <option value="card-play">Most Cards Played</option>
    <option value="card-draw">Most Cards Drawn</option>
    <option value="card-discard">Most Cards Discarded</option>
    <option value="card-skip">Most Cards Skiped</option>
    <option value="picked-judge">Most Picked (judge)</option>
    <option value="picked-player">Most Picked (winner)</option>
  </select>
  <label for="leaderboardSubject">Subject:</label>
  <select id="leaderboardSubject" name="subject" autocomplete="off">
    <option value="player" selected>Player</option>
    <option value="card">Card</option>
    <option value="special-category">Special Category</option>
  </select>
</form>
<div id="leaderboard"></div>
{{end}}
