{{define "body"}}
<link rel="stylesheet" href="/static/css/stats.css" />
<h1>Statistics</h1>
<h2>{{.User.Name}}</h2>
<div>
  <table>
    <tbody>
      <tr>
        <td>Win Ratio</td>
        <td>{{.PersonalStats.WinRatio}}</td>
      </tr>
      <tr>
        <td>Total Wins</td>
        <td>{{.PersonalStats.WinCount}}</td>
      </tr>
      <tr>
        <td>Total Played</td>
        <td>{{.PersonalStats.PlayCount}}</td>
      </tr>
      <tr>
        <td>Total Drawn</td>
        <td>{{.PersonalStats.DrawCount}}</td>
      </tr>
      <tr>
        <td>Total Discarded</td>
        <td>{{.PersonalStats.DiscardCount}}</td>
      </tr>
      <tr>
        <td>Total Skipped</td>
        <td>{{.PersonalStats.SkipCount}}</td>
      </tr>
    </tbody>
  </table>
</div>
<h2>Leaderboard</h2>
<form
  hx-post="/api/stats/leaderboard"
  hx-trigger="load, change"
  hx-target="#leaderboard"
>
  <label for="leaderboardTopic">Topic:</label>
  <select id="leaderboardTopic" name="topic" autocomplete="off">
    <option value="win-ratio" selected>Best Win Ratio</option>
    <option value="win">Most Wins</option>
    <option value="play">Most Plays</option>
    <option value="draw">Most Draws</option>
    <option value="discard">Most Discards</option>
    <option value="skip">Most Skips</option>
    <option value="picked-judge">Most Picked as the judge</option>
    <option value="picked-player">Most Picked as the winner</option>
  </select>
  <label for="leaderboardSubject">Subject:</label>
  <select id="leaderboardSubject" name="subject" autocomplete="off">
    <option value="player" selected>Player</option>
    <option value="card">Card</option>
    <option value="special-category">Special Category</option>
  </select>
</form>
<div id="leaderboard"></div>
{{end}}
