{{define "topbar"}}
<link rel="stylesheet" href="/static/css/topbar.css" />
<script src="/static/js/topbar.js"></script>
<div id="topbar-title">Card Judge</div>
<div id="topbar-toggle-dark-mode" onclick="toggleDarkMode()">&#127762;</div>
<div id="topbar-player-name">
  Playing as: {{.PlayerName}}
  <span
    onclick="document.getElementById('update-player-dialog').showModal()"
    style="cursor: pointer"
  >
    &#128393;
  </span>
</div>
<dialog id="update-player-dialog" style="text-align: center">
  <p>You are currently playing as: {{.PlayerName}}</p>
  <form hx-post="/api/player/update">
    <input
      type="text"
      id="playerName"
      name="playerName"
      maxlength="25"
      placeholder="Enter Updated Player Name"
      required="true"
      autofocus="true"
    />
    <br />
    <br />
    <input type="submit" value="Update" />
    <button onclick="document.getElementById('update-player-dialog').close()">
      Cancel
    </button>
  </form>
  <br />
  <details>
    <summary style="cursor: pointer">Logout</summary>
    <button
      hx-post="/api/player/logout"
      hx-confirm="Are you sure you want to logout?"
    >
      Logout
    </button>
  </details>
</dialog>
{{end}}
