{{define "body"}}
<h2>Achievements</h2>
<table>
    <thead>
        <tr>
            <th>Category</th>
            <th>Threshold</th>
            <th>Achieved</th>
            <th>Rarity</th>
        </tr>
    </thead>
    <tbody>
        {{range .Achievements}}
        <tr>
            <td>{{.Category}}</td>
            <td style="text-align: right;">{{.Threshold}}</td>
            <td style="text-align: center;">
                {{if .Achieved}}
                <i class="bi bi-check-square"></i>
                {{else}}
                <i class="bi bi-square"></i>
                {{end}}
            </td>
            <td style="text-align: right;">{{.Rarity}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}