{{define "body"}}
<h2>Achievements</h2>
<table>
    <thead>
        <tr>
            <th>Achievement</th>
            <th>Progress</th>
            <th>Date Achieved</th>
        </tr>
    </thead>
    <tbody>
        {{range .Achievements}}
        <tr>
            <td>{{.Name}}</td>
            <td style="text-align: right;">{{.Progress}}</td>
            <td>
                {{if .DateAchieved.Valid}}
                {{.DateAchieved.Time.Format "2006-01-02"}}
                {{else}}
                -
                {{end}}
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}