{{define "body"}}
<h2>Achievements</h2>
<table>
    <thead>
        <tr>
            <td>Overall</td>
            <td>
                <progress
                    {{if ge .Progress 100.0}}
                    class="progress-full"
                    {{end}}
                    value="{{.Progress}}"
                    max="100"
                >{{printf "%.1f" .Progress}}%</progress>
                <span>{{printf "%.1f" .Progress}}%</span>
            </td>
        </tr>
        <tr>
            <th>Achievement</th>
            <th>Progress</th>
        </tr>
    </thead>
    <tbody>
        {{range .Achievements}}
        <tr>
            <td>{{.Name}}</td>
            <td>
                <progress
                    {{if ge .Progress 100}}
                    class="progress-full"
                    {{end}}
                    value="{{.Progress}}"
                    max="100"
                >{{.Progress}}%</progress>
                <span>{{.Progress}}%</span>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}