{{define "body"}}
<div style="display: grid; grid-auto-flow: column">
    <h2>Card Statistics</h2>
    <div style="text-align: right;">
        <button onclick="window.location.href='/stats'">
            Statistics Home
        </button>
    </div>
</div>
<form id="table-filter-form">
    <label for="deckNameSearch">Deck:</label>
    <input
        type="search"
        id="deckNameSearch"
        name="deckName"
        maxlength="255"
        value="{{.DeckName}}"
        autocomplete="off"
        onchange="submitTableFilterForm()"
    />
    <label for="categorySearch">Category:</label>
    <select
        id="categorySearch"
        name="category"
        autocomplete="off"
        onchange="submitTableFilterForm()"
        required
    >
        {{if eq .Category "PROMPT"}}
        <option value="%">Any</option>
        <option
            value="PROMPT"
            selected
        >Prompt</option>
        <option value="RESPONSE">Response</option>
        {{else if eq .Category "RESPONSE"}}
        <option value="%">Any</option>
        <option value="PROMPT">Prompt</option>
        <option
            value="RESPONSE"
            selected
        >Response</option>
        {{else}}
        <option
            value="%"
            selected
        >Any</option>
        <option value="PROMPT">Prompt</option>
        <option value="RESPONSE">Response</option>
        {{end}}
    </select>
    <label for="textSearch">Text:</label>
    <input
        type="search"
        id="textSearch"
        name="text"
        maxlength="510"
        value="{{.Text}}"
        autocomplete="off"
        onchange="submitTableFilterForm()"
    />

    {{if gt .Page 1}}
    <button onclick="goToTablePage(1)">
        <span class="bi bi-chevron-bar-left"></span>
    </button>
    <button onclick="goToPreviousTablePage()">
        <span class="bi bi-chevron-left"></span>
    </button>
    {{end}}

    <span>
        Page <input
            type="number"
            id="pageNumber"
            name="page"
            min="1"
            max="{{.LastPage}}"
            value="{{.Page}}"
            onchange="submitTableFilterForm()"
        /> of {{.LastPage}}
    </span>

    {{if lt .Page .LastPage}}
    <button onclick="goToNextTablePage()">
        <span class="bi bi-chevron-right"></span>
    </button>
    <button onclick="goToTablePage({{.LastPage}})">
        <span class="bi bi-chevron-bar-right"></span>
    </button>
    {{end}}
</form>
<br />
<table>
    <thead>
        <tr>
            <th>Created</th>
            <th>Deck</th>
            <th>Category</th>
            <th>Text</th>
            <th>YouTube</th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{range .Cards}}
        <tr>
            <td>{{.CreatedOnDate.Format "2006-01-02"}}</td>
            <td>{{.DeckName}}</td>
            <td>{{if eq .Category "PROMPT"}} Prompt {{else}} Response {{end}}</td>
            <td class="wrap-new-lines">{{.Text}}</td>
            <td>
                {{if .YouTube.Valid}}
                <div style="text-align: center;">
                    <span class="bi bi-youtube"></span>
                </div>
                {{end}}
            </td>
            <td>
                {{if .Image.Valid}}
                <div style="text-align: center;">
                    <span class="bi bi-card-image"></span>
                </div>
                {{end}}
            </td>
            <td>
                <button onclick="window.location.href='/stats/card/{{.Id}}'">Select</button>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
<br />
<br />
{{end}}