{{define "body"}}
<div style="display: grid; grid-auto-flow: column">
    <h2>User Statistics</h2>
    <div style="text-align: right;">
        <button onclick="window.location.href='/stats'">
            Statistics Home
        </button>
    </div>
</div>
<form id="table-filter-form">
    <label for="nameSearch">Name:</label>
    <input
        type="search"
        id="nameSearch"
        name="name"
        maxlength="255"
        value="{{.Name}}"
        autocomplete="off"
        onchange="submitTableFilterForm()"
    />

    {{if gt .Page 1}}
    <button onclick="goToTablePage(1)">
        <span class="bi bi-chevron-bar-left"></span>
    </button>
    <button onclick="goToPreviousTablePage()">
        <span class="bi bi-chevron-left"></span>
    </button>
    {{end}}

    <span>
        Page <input
            type="number"
            id="pageNumber"
            name="page"
            min="1"
            max="{{.LastPage}}"
            value="{{.Page}}"
            onchange="submitTableFilterForm()"
        /> of {{.LastPage}}
    </span>

    {{if lt .Page .LastPage}}
    <button onclick="goToNextTablePage()">
        <span class="bi bi-chevron-right"></span>
    </button>
    <button onclick="goToTablePage({{.LastPage}})">
        <span class="bi bi-chevron-bar-right"></span>
    </button>
    {{end}}
</form>
<br />
<table>
    <thead>
        <tr>
            <th>Created</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{range .Users}}
        <tr>
            <td>{{.CreatedOnDate.Format "2006-01-02"}}</td>
            <td>{{.Name}}</td>
            <td>
                <button onclick="window.location.href='/stats/user/{{.Id}}'">Select</button>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
<br />
<br />
{{end}}