{{define "login"}}
<div id="login">
  {{if .LoggedIn}}
  <div style="float: right; text-align: right">
    Playing as:
    <br />
    {{.PlayerName}}
  </div>
  {{else}}
  <style>
    dialog {
      width: calc(100% - 50px);
      height: calc(100% - 50px);
    }
  </style>
  <dialog id="login-dialog" open="true">
    <form
      hx-post="/api/login"
      hx-swap="outerHTML"
      hx-target="#login"
      style="text-align: center"
    >
      <p>You must provide your name to play the game.</p>
      <input
        type="text"
        id="playerName"
        name="playerName"
        maxlength="25"
        placeholder="Enter Player Name"
        required="true"
      />
      <br />
      <br />
      <input type="submit" value="Login" />
    </form>
  </dialog>
  {{end}}
</div>
{{end}}
