body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
}

dialog::backdrop {
  background-color: black;
  opacity: 0.8;
}

button {
  cursor: pointer;
}

summary {
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

#body {
  margin: 8px;
}
