#lobby-grid-container {
  height: 90vh;
  display: grid;
  grid-template-columns: 400px auto 200px;
  grid-template-rows: 80px auto 250px;
  grid-template-areas:
    "header header header"
    "menu main right"
    "menu footer footer";
  gap: 3px;
  padding: 3px;
  background-color: black;
}

#lobby-grid-container > div {
  padding: 10px;
}

#lobby-game-info {
  grid-area: header;
}

#game-info-table {
  width: 100%;
  text-align: center;
}

#game-info-table tr:hover {
  background-color: transparent;
}

#lobby-player-data {
  grid-area: menu;
  overflow: scroll;
}

#lobby-game-board {
  grid-area: main;
  min-height: 400px;
  min-width: 400px;
}

#lobby-game-stats {
  grid-area: right;
  overflow: scroll;
}

#lobby-chat {
  grid-area: footer;
}

#lobby-chat-messages {
  height: calc(100% - 50px);
  overflow-y: scroll;
  overflow-x: hidden !important;
  padding-left: calc(5px + 1em);
  text-indent: -1em;
}

#lobby-chat-form {
  height: 40px;
}

#lobby-chat-input {
  width: calc(100% - 100px);
}

#lobby-chat-submit {
  width: 50px;
}
