#topbar {
  color: white;
  background-color: rgb(50, 50, 50);
  height: 3em;
  display: grid;
  grid-auto-flow: column;
  overflow: hidden;
}

#topbar-title {
  text-align: left;
  padding: 15px;
}

#topbar-toggle-dark-mode {
  text-align: center;
  padding: 15px;
  cursor: pointer;
}

#topbar-player {
  text-align: right;
  padding: 15px;
  cursor: pointer;
}
