{{define "game-board"}}
<div id="game-board">
  <h3 id="judge-card">{{.JudgeCardText}}</h3>
  <br />
  {{$cardCount := len .BoardCards}} {{if eq $cardCount .PlayerCount}}
  <div id="board-cards">
    <table id="board-cards-table">
      <tbody>
        {{range .BoardCards}}
        <tr>
          <td style="padding: 20px">
            {{if $.PlayerIsJudge}}
            <span
              class="clickable"
              hx-post="/api/lobby/{{$.LobbyId}}/card/{{.Id}}/winner"
              hx-confirm="Are you sure you want to pick this card as the winner?"
            >
              {{.Text}}
            </span>
            {{else}}
            <span>{{.Text}}</span>
            {{end}}
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
  {{else}}
  <div>{{$cardCount}}/{{.PlayerCount}} cards have been played...</div>
  {{end}}
</div>
{{end}}
