{{define "game-info"}}
<table id="game-info-table">
  <thead>
    <tr>
      <th>Lobby</th>
      <th>Judge</th>
      <th>Hand Size</th>
      <th>Draw Pile</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        {{.Name}}
        <span
          class="clickable"
          onclick="document.getElementById('lobby-update-dialog').showModal()"
        >
          &#128393;
        </span>
      </td>
      <td>{{if eq .JudgeName ""}} (None) {{else}} {{.JudgeName}} {{end}}</td>
      <td>{{.HandSize}}</td>
      <td>{{.CardCount}}</td>
    </tr>
  </tbody>
</table>
{{end}}
