{{define "game-interface"}}
    <div
            id="lobby-game-info"
            hx-get="/api/lobby/{{.LobbyId}}/html/lobby-game-info"
            hx-trigger="load"
    ></div>
    <div id="lobby-player-data">
        <div
                id="player-hand"
                hx-get="/api/lobby/{{.LobbyId}}/html/player-hand"
                hx-trigger="load"
        ></div>
        <hr/>
        <div
                id="player-specials"
                hx-get="/api/lobby/{{.LobbyId}}/html/player-specials"
                hx-trigger="load"
        ></div>
    </div>
    <div id="lobby-game-board">
        <h3 id="prompt-card">
            {{if not .JudgeCardText.Valid}}
                <span>[NO PROMPT CARD]</span>
            {{else}}
                <span class="wrap-new-lines">{{.JudgeCardText.String}}</span>
                {{if .JudgeCardDeck.Valid}}
                    <span class="bi bi-info-circle" style="float: right" title="{{.JudgeCardDeck.String}}"></span>
                {{end}}
                {{if .JudgeCardImage.Valid}}
                    <br/>
                    <br/>
                    <img src="data:image;base64,{{.JudgeCardImage.String}}" alt="Card Image"/>
                {{end}}
            {{end}}
        </h3>
        {{if and .PlayerIsJudge (not .BoardHasAnySpecial) (not .BoardHasAnyRevealed)}}
            <span id="judge-settings">
                <label for="setResponseCount">Responses:</label>
                <input
                        type="number"
                        id="setResponseCount"
                        name="responseCount"
                        min="1"
                        max="3"
                        value="{{.JudgeResponseCount}}"
                        required="required"
                        hx-put="/api/lobby/{{.LobbyId}}/response-count"
                        hx-trigger="change"
                />
                <span class="bi bi-skip-forward-circle clickable"
                      style="float: right"
                      hx-post="/api/lobby/{{.LobbyId}}/skip-prompt"
                      hx-confirm="Are you sure you want to skip this prompt?"
                >
                    Skip Prompt
                </span>
            </span>
        {{end}}
        {{if .JudgeCardText.Valid}}
            <br/>
            {{if .BoardIsReady}}
                <div id="board-responses">
                    <table id="board-responses-table">
                        <tbody>
                        {{range .BoardResponses}}
                            <tr>
                                {{if $.PlayerIsJudge}}
                                    <td style="width: 1em">
                                        {{if .IsRevealed}}
                                            {{if .IsRuledOut}}
                                                <span title="Undo Rule Out of Response"
                                                      class="bi bi-arrow-counterclockwise clickable"
                                                      hx-post="/api/lobby/{{$.LobbyId}}/response/{{.ResponseId}}/toggle-rule-out"
                                                ></span>
                                            {{else}}
                                                <span title="Rule Out Response"
                                                      class="bi bi-trash clickable"
                                                      hx-post="/api/lobby/{{$.LobbyId}}/response/{{.ResponseId}}/toggle-rule-out"
                                                ></span>
                                            {{end}}
                                        {{end}}
                                    </td>
                                {{end}}
                                <td
                                        {{if $.PlayerIsJudge}}
                                            {{if not .IsRevealed}}
                                                class="clickable"
                                                hx-post="/api/lobby/{{$.LobbyId}}/response/{{.ResponseId}}/reveal"
                                            {{else if and $.BoardIsAllRevealed (not .IsRuledOut)}}
                                                class="clickable"
                                                hx-post="/api/lobby/{{$.LobbyId}}/response/{{.ResponseId}}/pick-winner"
                                                hx-confirm="Are you sure you want to pick this response as the winner?"
                                            {{end}}
                                        {{end}}
                                >
                                    <hr/>
                                    {{if not .IsRevealed}}
                                        <p style="padding: 20px">
                                            {{if $.PlayerIsJudge}}
                                                <span class="bi bi-hand-index">
                                                    Click to reveal...
                                                </span>
                                            {{else}}
                                                <span class="bi bi-hourglass-split">
                                                    Waiting to be revealed...
                                                </span>
                                            {{end}}
                                        </p>
                                    {{else}}
                                        {{$isRuledOut := .IsRuledOut}}
                                        {{range .ResponseCards}}
                                            <p
                                                    {{if $isRuledOut}}
                                                        style="padding: 20px; text-decoration: line-through; opacity: 0.3;"
                                                    {{else}}
                                                        style="padding: 20px;"
                                                    {{end}}
                                            >
                                                <span class="wrap-new-lines">{{.Text}}</span>
                                                <span class="bi bi-info-circle"
                                                      style="float: right"
                                                      title="{{.DeckName}}"
                                                ></span>
                                                {{if .Image.Valid}}
                                                    <br/>
                                                    <br/>
                                                    <img src="data:image;base64,{{.Image.String}}" alt="Card Image"/>
                                                {{end}}
                                            </p>
                                        {{end}}
                                    {{end}}
                                </td>
                            </tr>
                        {{end}}
                        {{if and .PlayerIsJudge .BoardIsAllRevealed (not .BoardIsAllRuledOut)}}
                            <tr>
                                <td>
                                    <span class="bi bi-shuffle"></span>
                                </td>
                                <td class="clickable"
                                    hx-post="/api/lobby/{{$.LobbyId}}/pick-random-winner"
                                    hx-confirm="Are you sure you want to pick a random winner?">
                                    <hr/>
                                    <p style="padding: 20px">
                                        Random Winner
                                    </p>
                                </td>
                            </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
            {{else}}
                <div id="player-responses">
                    <table id="player-responses-table">
                        <tbody>
                        {{range .PlayerResponses}}
                            <tr>
                                <td>
                                    {{$playerResponseCardCount := len .ResponseCards}}
                                    {{if gt $playerResponseCardCount 0}}
                                        <hr/>
                                    {{end}}
                                    {{range .ResponseCards}}
                                        <p style="padding: 20px">
                                            {{if not .SpecialCategory.Valid}}
                                                <span title="Withdraw"
                                                      class="bi bi-backspace clickable"
                                                      hx-post="/api/lobby/{{$.LobbyId}}/response-card/{{.ResponseCardId}}/withdraw"
                                                ></span>
                                            {{end}}
                                            {{if eq .SpecialCategory.String "SURPRISE"}}
                                                <span>[***SURPRISE CARD PLAYED!***]</span>
                                            {{else}}
                                                <span class="wrap-new-lines">{{.Text}}</span>
                                            {{end}}
                                            <span class="bi bi-info-circle"
                                                  style="float: right"
                                                  title="{{.DeckName}}"
                                            ></span>
                                            {{if .Image.Valid}}
                                                <br/>
                                                <br/>
                                                <img src="data:image;base64,{{.Image.String}}" alt="Card Image"/>
                                            {{end}}
                                        </p>
                                    {{end}}
                                </td>
                            </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
                <br/>
                <div id="players-responded">
                    <table id="players-responded-table">
                        <thead>
                        <tr>
                            <th style="padding: 20px">Player</th>
                            <th style="padding: 20px">Cards Played</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{range .BoardResponses}}
                            <tr>
                                <td>{{.PlayerUserName}}</td>
                                <td style="text-align: center">
                                    {{len .ResponseCards}}/{{$.JudgeBlankCount}}
                                </td>
                            </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
            {{end}}
            <br/>
        {{end}}
    </div>
    <div id="lobby-game-stats">
        <table>
            <thead>
            <tr>
                <th>Player</th>
                <th>Wins</th>
            </tr>
            </thead>
            <tbody>
            {{range .Wins}}
                <tr>
                    <td>{{.Name}}</td>
                    <td>{{.Count}}</td>
                </tr>
            {{end}}
            <tr>
                <td colspan="2">
                    <hr/>
                </td>
            </tr>
            <tr>
                <td>Total</td>
                <td>{{.TotalRoundsPlayed}}</td>
            </tr>
            </tbody>
        </table>
        <br/>
        <br/>
        <table>
            <thead>
            <tr>
                <th>Upcoming Judges</th>
            </tr>
            </thead>
            <tbody>
            {{range .UpcomingJudges}}
                <tr>
                    <td>{{.}}</td>
                </tr>
            {{end}}
            </tbody>
        </table>
        <br/>
        <br/>
        {{$kickVoteCount := len .KickVotes}}
        {{if gt $kickVoteCount 0}}
            <table>
                <thead>
                <tr>
                    <th colspan="2">Vote to Kick</th>
                </tr>
                </thead>
                <tbody>
                {{range .KickVotes}}
                    <tr>
                        {{if .Voted}}
                            <td>
                                <span title="Undo Vote to Kick"
                                      class="bi bi-arrow-counterclockwise clickable"
                                      hx-post="/api/lobby/{{$.LobbyId}}/player/{{.PlayerId}}/kick/undo"
                                      hx-target="#lobby-grid-interface"
                                >
                                    Undo
                                </span>
                            </td>
                        {{else}}
                            <td>
                                <span title="Vote to Kick"
                                      class="bi bi-door-open clickable"
                                      hx-post="/api/lobby/{{$.LobbyId}}/player/{{.PlayerId}}/kick"
                                      hx-confirm="Are you sure you want to vote to kick {{.UserName}}?"
                                      hx-target="#lobby-grid-interface"
                                >
                                    Kick
                                </span>
                            </td>
                        {{end}}
                        <td>{{.UserName}}</td>
                    </tr>
                {{end}}
                </tbody>
            </table>
        {{end}}
    </div>
{{end}}
