{{define "game-interface"}}
    <div
            id="lobby-game-info"
            hx-get="/api/lobby/{{.LobbyId}}/html/lobby-game-info"
            hx-trigger="load"
    ></div>
    <div id="lobby-player-data">
        <div
                id="player-hand"
                hx-get="/api/lobby/{{.LobbyId}}/html/player-hand"
                hx-trigger="load"
        ></div>
        <hr/>
        <div
                id="player-specials"
                hx-get="/api/lobby/{{.LobbyId}}/html/player-specials"
                hx-trigger="load"
        ></div>
    </div>
    <div
            id="lobby-game-board"
            hx-get="/api/lobby/{{.LobbyId}}/html/lobby-game-board"
            hx-trigger="load"
    ></div>
    <div id="lobby-game-stats">
        <table>
            <thead>
            <tr>
                <th>Player</th>
                <th>Wins</th>
            </tr>
            </thead>
            <tbody>
            {{range .Wins}}
                <tr>
                    <td>{{.Name}}</td>
                    <td>{{.Count}}</td>
                </tr>
            {{end}}
            <tr>
                <td colspan="2">
                    <hr/>
                </td>
            </tr>
            <tr>
                <td>Total</td>
                <td>{{.TotalRoundsPlayed}}</td>
            </tr>
            </tbody>
        </table>
        <br/>
        <br/>
        <table>
            <thead>
            <tr>
                <th>Upcoming Judges</th>
            </tr>
            </thead>
            <tbody>
            {{range .UpcomingJudges}}
                <tr>
                    <td>{{.}}</td>
                </tr>
            {{end}}
            </tbody>
        </table>
        <br/>
        <br/>
        {{$kickVoteCount := len .KickVotes}}
        {{if gt $kickVoteCount 0}}
            <table>
                <thead>
                <tr>
                    <th colspan="2">Vote to Kick</th>
                </tr>
                </thead>
                <tbody>
                {{range .KickVotes}}
                    <tr>
                        {{if .Voted}}
                            <td>
                                <span title="Undo Vote to Kick"
                                      class="bi bi-arrow-counterclockwise clickable"
                                      hx-post="/api/lobby/{{$.LobbyId}}/player/{{.PlayerId}}/kick/undo"
                                      hx-target="#lobby-grid-interface"
                                >
                                    Undo
                                </span>
                            </td>
                        {{else}}
                            <td>
                                <span title="Vote to Kick"
                                      class="bi bi-door-open clickable"
                                      hx-post="/api/lobby/{{$.LobbyId}}/player/{{.PlayerId}}/kick"
                                      hx-confirm="Are you sure you want to vote to kick {{.UserName}}?"
                                      hx-target="#lobby-grid-interface"
                                >
                                    Kick
                                </span>
                            </td>
                        {{end}}
                        <td>{{.UserName}}</td>
                    </tr>
                {{end}}
                </tbody>
            </table>
        {{end}}
    </div>
{{end}}
