{{define "game-interface"}}
<div id="lobby-game-info">
  <table id="game-info-table">
    <thead>
      <tr>
        <th style="width: 34%">Lobby</th>
        <th style="width: 33%">Judge</th>
        <th style="width: 33%">Draw Pile</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {{.LobbyName}}
          <span
            class="clickable"
            onclick="document.getElementById('lobby-update-dialog').showModal()"
          >
            &#128393;
          </span>
        </td>
        <td>
          {{if .JudgeName.Valid}} {{.JudgeName.String}} {{else}} (None) {{end}}
        </td>
        <td>
          Prompt {{.DrawPilePromptCount}} | Response {{.DrawPileResponseCount}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div id="lobby-player-data">
  {{if not .JudgeCardText.Valid}}
  <div class="lobby-player-data-message">[NO PROMPT CARD]</div>
  {{else if .PlayerIsJudge}}
  <div class="lobby-player-data-message">You are the Judge.</div>
  {{else if .BoardIsReady}}
  <div class="lobby-player-data-message">The board is being judged...</div>
  {{else}}
  <table id="player-hand-table">
    {{$handSize := len .PlayerHand}}
    <thead>
      <tr>
        <th colspan="3">Cards in Hand</th>
      </tr>
      <tr>
        <th></th>
        <th>
          {{if lt $handSize .LobbyHandSize}}
          <button
            hx-post="/api/lobby/{{.LobbyId}}/draw-hand"
            hx-target="#lobby-grid-interface"
          >
            Draw
          </button>
          {{end}}
        </th>
        <th>
          {{if gt $handSize 0}}
          <button
            hx-post="/api/lobby/{{.LobbyId}}/discard-hand"
            hx-target="#lobby-grid-interface"
            hx-confirm="Are you sure you want to discard your hand?"
          >
            Discard
          </button>
          {{end}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{range .PlayerHand}}
      <tr style="border-top: 2px solid black">
        <td style="text-align: center">
          {{if .IsLocked}}
          <span
            title="Unlock"
            class="clickable"
            hx-post="/api/lobby/{{$.LobbyId}}/card/{{.Id}}/unlock"
            hx-target="#lobby-grid-interface"
          >
            &#128274;
          </span>
          {{else}}
          <span
            title="Lock"
            class="clickable"
            hx-post="/api/lobby/{{$.LobbyId}}/card/{{.Id}}/lock"
            hx-target="#lobby-grid-interface"
          >
            &#128275;
          </span>
          {{end}}
        </td>
        <td style="padding: 20px">
          {{if $.PlayerIsReady}}
          <span class="wrap-new-lines">{{.Text}}</span>
          {{else}}
          <span
            class="clickable wrap-new-lines"
            hx-post="/api/lobby/{{$.LobbyId}}/card/{{.Id}}/play"
            hx-confirm="Are you sure you want to play this card?"
            >{{.Text}}</span
          >
          {{end}}
        </td>
        <td style="text-align: center">
          {{if not .IsLocked}}
          <span
            title="Discard"
            class="clickable"
            hx-post="/api/lobby/{{$.LobbyId}}/card/{{.Id}}/discard"
            hx-target="#lobby-grid-interface"
            hx-confirm="Are you sure you want to discard this card?"
          >
            &#9940;
          </span>
          {{end}}
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
  <hr />
  <table id="special-table">
    <thead>
      <tr>
        <td colspan="2">Credits: {{.PlayerCreditsRemaining}}</td>
      </tr>
      <tr>
        <th>Special</th>
        <th>Cost</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {{if and (not .PlayerIsReady) (ge .PlayerCreditsRemaining 1)}}
          <button
            title="Get an extra response for the round."
            hx-post="/api/lobby/{{$.LobbyId}}/add-extra-response"
            hx-confirm="Are you sure you want to use an extra response?"
          >
            Extra Response
          </button>
          {{else}}
          <i>Extra Response</i>
          {{end}}
        </td>
        <td>1</td>
      </tr>
      <tr>
        <td>
          {{if and (not .PlayerIsReady) (ge .PlayerCreditsRemaining 1)}}
          <button
            title="Steal a random card from another player in the lobby.&#010;They will receive an extra credit to spend as a result."
            hx-post="/api/lobby/{{$.LobbyId}}/card/steal/play"
            hx-confirm="Are you sure you want to use a Steal Card?"
          >
            Steal Card
          </button>
          {{else}}
          <i>Steal Card</i>
          {{end}}
        </td>
        <td>1</td>
      </tr>
      <tr>
        <td>
          {{if and (not .PlayerIsReady) (ge .PlayerCreditsRemaining 1)}}
          <button
            title="Draw a random card from the draw pile.&#010;You will not know which card you played."
            hx-post="/api/lobby/{{$.LobbyId}}/card/surprise/play"
            hx-confirm="Are you sure you want to use a Surprise Card?"
          >
            Surprise Card
          </button>
          {{else}}
          <i>Surprise Card</i>
          {{end}}
        </td>
        <td>1</td>
      </tr>
      <tr>
        <td>
          {{if and (not .PlayerIsReady) (ge .PlayerCreditsRemaining 2)}}
          <button
            title="Provide any text you want to play as a card."
            onclick="document.getElementById('wild-card-dialog').showModal()"
          >
            Wild Card
          </button>
          {{else}}
          <i>Wild Card</i>
          {{end}}
        </td>
        <td>2</td>
      </tr>
    </tbody>
  </table>
  {{end}}
</div>
<div id="lobby-game-board">
  <h3 id="prompt-card">
    {{if not .JudgeCardText.Valid}}
    <span>[NO PROMPT CARD]</span>
    {{else}}
    <span class="wrap-new-lines">{{.JudgeCardText.String}}</span>
    {{end}}
  </h3>
  {{if .PlayerIsJudge}}
  <span id="judge-settings">
    <label for="setResponseCount">Responses:</label>
    <input
      type="number"
      id="setResponseCount"
      name="responseCount"
      min="1"
      max="3"
      value="{{.JudgeResponseCount}}"
      required="required"
      hx-put="/api/lobby/{{.LobbyId}}/response-count"
      hx-trigger="change"
    />
    <span
      class="clickable"
      style="float: right"
      hx-post="/api/lobby/{{.LobbyId}}/skip-prompt"
      hx-confirm="Are you sure you want to skip this prompt?"
    >
      &#11118; Skip Prompt
    </span>
  </span>
  {{end}} {{if .JudgeCardText.Valid}}
  <br />
  {{if .BoardIsReady}}
  <div id="board-responses">
    <table id="board-responses-table">
      <tbody>
        {{range .BoardResponses}}
        <tr
          {{if
          $.PlayerIsJudge}}
          class="clickable"
          hx-post="/api/lobby/{{$.LobbyId}}/response/{{.ResponseId}}/pick-winner"
          hx-confirm="Are you sure you want to pick this response as the winner?"
          {{end}}
        >
          <td>
            <hr />
            {{range .ResponseCards}}
            <p style="padding: 20px">
              <span class="wrap-new-lines">{{.Text}}</span>
            </p>
            {{end}}
          </td>
        </tr>
        {{end}} {{if .PlayerIsJudge}}
        <tr>
          <td>
            <hr />
            <button
              hx-post="/api/lobby/{{$.LobbyId}}/pick-random-winner"
              hx-confirm="Are you sure you want to pick a random winner?"
            >
              Random Winner
            </button>
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
  {{else}}
  <div id="player-responses">
    <table id="player-responses-table">
      <tbody>
        {{range .PlayerResponses}}
        <tr>
          <td>
            {{$playerResponseCardCount := len .ResponseCards}} {{if gt
            $playerResponseCardCount 0}}
            <hr />
            {{end}} {{range .ResponseCards}}
            <p style="padding: 20px">
              {{if not .SpecialCategory.Valid}}
              <span
                title="Withdraw"
                class="clickable"
                hx-post="/api/lobby/{{$.LobbyId}}/response-card/{{.ResponseCardId}}/withdraw"
              >
                &#8998;
              </span>
              {{end}} {{if eq .SpecialCategory.String "SURPRISE"}}
              <span>[***SURPRISE CARD PLAYED!***]</span> {{else}}
              <span class="wrap-new-lines">{{.Text}}</span>
              {{end}}
            </p>
            {{end}}
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
  <br />
  <div id="players-responded">
    <table id="players-responded-table">
      <thead>
        <tr>
          <th style="padding: 20px">Player</th>
          <th style="padding: 20px">Cards Played</th>
        </tr>
      </thead>
      <tbody>
        {{range .BoardResponses}}
        <tr>
          <td>{{.PlayerUserName}}</td>
          <td style="text-align: center">
            {{len .ResponseCards}}/{{$.JudgeBlankCount}}
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
  {{end}}
  <br />
  {{end}}
</div>
<div id="lobby-game-stats">
  <table>
    <thead>
      <tr>
        <th colspan="2">Scoreboard</th>
      </tr>
      <tr>
        <th>Player</th>
        <th>Wins</th>
      </tr>
    </thead>
    <tbody>
      {{range .Wins}}
      <tr>
        <td>{{.UserName}}</td>
        <td>{{.WinCount}}</td>
      </tr>
      {{end}}
    </tbody>
  </table>
  <br />
  <br />
  <table>
    <thead>
      <tr>
        <th>Upcoming Judges</th>
      </tr>
    </thead>
    <tbody>
      {{range .UpcomingJudges}}
      <tr>
        <td>{{.}}</td>
      </tr>
      {{end}}
    </tbody>
  </table>
  <br />
  <br />
  <table>
    <thead>
      <tr>
        <th>Losing Streak</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{.PlayerLosingStreak}}</td>
      </tr>
    </tbody>
  </table>
</div>
{{end}}
