{{define "lobby-game-board"}}
    <h3 id="prompt-card">
        {{if not .JudgeCardText.Valid}}
            <span>[NO PROMPT CARD]</span>
        {{else}}
            <span class="wrap-new-lines">{{.JudgeCardText.String}}</span>
            {{if .JudgeCardDeck.Valid}}
                <span class="bi bi-info-circle" style="float: right" title="{{.JudgeCardDeck.String}}"></span>
            {{end}}
            {{if .JudgeCardImage.Valid}}
                <br/>
                <br/>
                <img src="data:image;base64,{{.JudgeCardImage.String}}" alt="Card Image"/>
            {{end}}
        {{end}}
    </h3>
    {{if and .PlayerIsJudge (not .BoardHasAnySpecial) (not .BoardHasAnyRevealed)}}
        <span id="judge-settings">
            <label for="setResponseCount">Responses:</label>
            <input
                    type="number"
                    id="setResponseCount"
                    name="responseCount"
                    min="1"
                    max="3"
                    value="{{.JudgeResponseCount}}"
                    required="required"
                    hx-put="/api/lobby/{{.LobbyId}}/response-count"
                    hx-trigger="change"
            />
            <span class="bi bi-skip-forward-circle clickable"
                  style="float: right"
                  hx-post="/api/lobby/{{.LobbyId}}/skip-prompt"
                  hx-confirm="Are you sure you want to skip this prompt?"
            >
                Skip Prompt
            </span>
        </span>
    {{end}}
    {{if .JudgeCardText.Valid}}
        <br/>
        {{if .BoardIsReady}}
            <div id="board-responses">
                <table id="board-responses-table">
                    <tbody>
                    {{range .BoardResponses}}
                        <tr>
                            {{if $.PlayerIsJudge}}
                                <td style="width: 1em">
                                    {{if .IsRevealed}}
                                        {{if .IsRuledOut}}
                                            <span title="Undo Rule Out of Response"
                                                  class="bi bi-arrow-counterclockwise clickable"
                                                  hx-post="/api/lobby/{{$.LobbyId}}/response/{{.ResponseId}}/toggle-rule-out"
                                            ></span>
                                        {{else}}
                                            <span title="Rule Out Response"
                                                  class="bi bi-trash clickable"
                                                  hx-post="/api/lobby/{{$.LobbyId}}/response/{{.ResponseId}}/toggle-rule-out"
                                            ></span>
                                        {{end}}
                                    {{end}}
                                </td>
                            {{end}}
                            <td
                                    {{if $.PlayerIsJudge}}
                                        {{if not .IsRevealed}}
                                            class="clickable"
                                            hx-post="/api/lobby/{{$.LobbyId}}/response/{{.ResponseId}}/reveal"
                                        {{else if and $.BoardIsAllRevealed (not .IsRuledOut)}}
                                            class="clickable"
                                            hx-post="/api/lobby/{{$.LobbyId}}/response/{{.ResponseId}}/pick-winner"
                                            hx-confirm="Are you sure you want to pick this response as the winner?"
                                        {{end}}
                                    {{end}}
                            >
                                <hr/>
                                {{if not .IsRevealed}}
                                    <p style="padding: 20px">
                                        {{if $.PlayerIsJudge}}
                                            <span class="bi bi-hand-index">
                                                Click to reveal...
                                            </span>
                                        {{else}}
                                            <span class="bi bi-hourglass-split">
                                                Waiting to be revealed...
                                            </span>
                                        {{end}}
                                    </p>
                                {{else}}
                                    {{$isRuledOut := .IsRuledOut}}
                                    {{range .ResponseCards}}
                                        <p
                                                style="padding: 20px;"
                                                {{if $isRuledOut}}
                                                    class="disabled strike"
                                                {{end}}
                                        >
                                            <span class="wrap-new-lines">{{.Text}}</span>
                                            <span class="bi bi-info-circle"
                                                  style="float: right"
                                                  title="{{.DeckName}}"
                                            ></span>
                                            {{if .Image.Valid}}
                                                <br/>
                                                <br/>
                                                <img src="data:image;base64,{{.Image.String}}" alt="Card Image"/>
                                            {{end}}
                                        </p>
                                    {{end}}
                                {{end}}
                            </td>
                        </tr>
                    {{end}}
                    {{if and .PlayerIsJudge .BoardIsAllRevealed (not .BoardIsAllRuledOut)}}
                        <tr>
                            <td>
                                <span class="bi bi-shuffle"></span>
                            </td>
                            <td class="clickable"
                                hx-post="/api/lobby/{{$.LobbyId}}/pick-random-winner"
                                hx-confirm="Are you sure you want to pick a random winner?">
                                <hr/>
                                <p style="padding: 20px">
                                    Random Winner
                                </p>
                            </td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
        {{else}}
            <div id="player-responses">
                <table id="player-responses-table">
                    <tbody>
                    {{range .PlayerResponses}}
                        <tr>
                            <td>
                                {{$playerResponseCardCount := len .ResponseCards}}
                                {{if gt $playerResponseCardCount 0}}
                                    <hr/>
                                {{end}}
                                {{range .ResponseCards}}
                                    <p style="padding: 20px">
                                        {{if not .SpecialCategory.Valid}}
                                            <span title="Withdraw"
                                                  class="bi bi-backspace clickable"
                                                  hx-post="/api/lobby/{{$.LobbyId}}/response-card/{{.ResponseCardId}}/withdraw"
                                            ></span>
                                        {{end}}
                                        {{if eq .SpecialCategory.String "SURPRISE"}}
                                            <span>[***SURPRISE CARD PLAYED!***]</span>
                                        {{else}}
                                            <span class="wrap-new-lines">{{.Text}}</span>
                                        {{end}}
                                        <span class="bi bi-info-circle"
                                              style="float: right"
                                              title="{{.DeckName}}"
                                        ></span>
                                        {{if .Image.Valid}}
                                            <br/>
                                            <br/>
                                            <img src="data:image;base64,{{.Image.String}}" alt="Card Image"/>
                                        {{end}}
                                    </p>
                                {{end}}
                            </td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
            <br/>
            <div id="players-responded">
                <table id="players-responded-table">
                    <thead>
                    <tr>
                        <th style="padding: 20px">Player</th>
                        <th style="padding: 20px">Cards Played</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{range .BoardResponses}}
                        <tr>
                            <td>{{.PlayerUserName}}</td>
                            <td style="text-align: center">
                                {{len .ResponseCards}}/{{$.JudgeBlankCount}}
                            </td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
        {{end}}
        <br/>
    {{end}}
{{end}}
