{{define "player-data"}}
<div id="player-data">
  <table>
    <thead>
      <tr>
        <th>
          {{$cardCount := len .PlayerHand}} {{if lt $cardCount .LobbyHandSize}}
          <button
            hx-post="/api/player/{{.PlayerId}}/draw"
            hx-target="#player-data"
          >
            Draw
          </button>
          {{end}}
        </th>
        <th>
          {{$cardCount := len .PlayerHand}} {{if gt $cardCount 0}}
          <button
            hx-post="/api/player/{{.PlayerId}}/discard"
            hx-target="#player-data"
            hx-confirm="Are you sure you want to discard your hand?"
          >
            Discard
          </button>
          {{end}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{range .PlayerHand}}
      <tr style="border-top: 2px solid black">
        <td style="padding: 20px">
          {{if or $.PlayerIsJudge $.PlayerPlayed}}
          <span>{{.Text}}</span>
          {{else}}
          <span
            class="clickable"
            hx-post="/api/player/{{$.PlayerId}}/card/{{.Id}}/play"
            hx-target="#player-data"
            hx-confirm="Are you sure you want to play this card?"
          >
            {{.Text}}
          </span>
          {{end}}
        </td>
        <td style="text-align: center">
          <span
            title="Discard"
            class="clickable"
            hx-delete="/api/player/{{$.PlayerId}}/card/{{.Id}}"
            hx-target="#player-data"
            hx-confirm="Are you sure you want to discard this card?"
          >
            &#9940;
          </span>
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{end}}
