{{define "player-cards"}}
<table>
  <thead>
    <tr>
      <th>Card</th>
      <th>Discard</th>
    </tr>
  </thead>
  <tbody>
    {{range .Cards}}
    <tr>
      <td>
        <span
          class="clickable"
          hx-post="/api/lobby/{{$.LobbyId}}/player/{{$.PlayerId}}/card/{{.Id}}/play"
          hx-confirm="Are you sure you want to play this card?"
        >
          {{.Text}}
        </span>
      </td>
      <td style="text-align: center">
        <span
          title="Discard"
          class="clickable"
          hx-delete="/api/lobby/{{$.LobbyId}}/player/{{$.PlayerId}}/card/{{.Id}}"
          hx-target="#player-cards"
          hx-confirm="Are you sure you want to discard this card?"
        >
          &#9940;
        </span>
      </td>
    </tr>
    {{end}}
  </tbody>
</table>
{{end}}
