{{define "card-create-dialog"}}
<button
  onclick="document.getElementById('card-create-dialog').showModal()"
  style="cursor: pointer"
>
  Create Card
</button>
<dialog id="card-create-dialog">
  <div style="display: grid; grid-auto-flow: column">
    <h3>Create Card</h3>
    <div
      onclick="document.getElementById('card-create-dialog').close()"
      style="cursor: pointer; text-align: right"
    >
      &#10060;
    </div>
  </div>
  <div>{{template "card-create-form" .}}</div>
</dialog>
{{end}}
