{{define "card-update-dialog"}}
<div
  title="Edit"
  class="clickable"
  onclick="document.getElementById('card-{{.Id}}-update-dialog').showModal()"
>
  &#128393;
</div>
<dialog id="card-{{.Id}}-update-dialog">
  <div style="display: grid; grid-auto-flow: column">
    <div>
      <h3>Update Card</h3>
    </div>
    <div>
      <div
        class="close-button"
        onclick="document.getElementById('card-{{.Id}}-update-dialog').close()"
      >
        &#10060;
      </div>
    </div>
  </div>

  <h4>Current Values</h4>
  <div>Type: {{.Type}}</div>
  <div>Text: {{.Text}}</div>

  <h4>New Values</h4>
  <div>{{template "card-update-form" .}}</div>
</dialog>
{{end}}
