{{define "deck-update-dialog"}}
<button onclick="document.getElementById('deck-update-dialog').showModal()">
  Edit Deck
</button>
<dialog id="deck-update-dialog">
  <div style="display: grid; grid-auto-flow: column">
    <div>
      <h3>Edit Deck</h3>
    </div>
    <div>
      <div
        class="close-button"
        onclick="document.getElementById('deck-update-dialog').close()"
      >
        &#10060;
      </div>
    </div>
  </div>
  <div>{{template "deck-name-form" .}}</div>
  <div>{{template "deck-password-form" .}}</div>
</dialog>
{{end}}
