{{define "deck-update-dialog"}}
<button onclick="document.getElementById('deck-update-dialog').showModal()">
  Edit Deck
</button>
<dialog id="deck-update-dialog">
  <div style="display: grid; grid-auto-flow: column">
    <div>
      <h3>Update Deck</h3>
    </div>
    <div>
      <div
        class="close-button"
        onclick="document.getElementById('deck-update-dialog').close()"
      >
        &#10060;
      </div>
    </div>
  </div>

  <h4>Current Values</h4>
  <div>Name: {{.Deck.Name}}</div>

  <h4>New Values</h4>
  <div>{{template "deck-update-form" .}}</div>
</dialog>
{{end}}
