{{define "lobby-create-dialog"}}
<button onclick="document.getElementById('lobby-create-dialog').showModal()">
  Create Lobby
</button>
<dialog id="lobby-create-dialog">
  <div style="display: grid; grid-auto-flow: column">
    <div>
      <h3>Create Lobby</h3>
    </div>
    <div>
      <div
        class="close-button"
        onclick="document.getElementById('lobby-create-dialog').close()"
      >
        &#10060;
      </div>
    </div>
  </div>
  <div>{{template "lobby-create-form" .}}</div>
</dialog>
{{end}}
