{{define "lobby-deck-dialog"}}
<button onclick="document.getElementById('lobby-deck-dialog').showModal()">
  Select Decks
</button>
<dialog id="lobby-deck-dialog">
  <div style="display: grid; grid-auto-flow: column">
    <div>
      <h3>Select Decks</h3>
    </div>
    <div>
      <div
        class="close-button"
        onclick="document.getElementById('lobby-deck-dialog').close()"
      >
        &#10060;
      </div>
    </div>
  </div>
  <div>{{template "lobby-deck-form" .}}</div>
</dialog>
{{end}}
