{{define "lobby-update-dialog"}}
<button onclick="document.getElementById('lobby-update-dialog').showModal()">
  Edit Lobby
</button>
<dialog id="lobby-update-dialog">
  <div style="display: grid; grid-auto-flow: column">
    <div>
      <h3>Update Lobby</h3>
    </div>
    <div>
      <div
        class="close-button"
        onclick="document.getElementById('lobby-update-dialog').close()"
      >
        &#10060;
      </div>
    </div>
  </div>

  <h4>Current Values</h4>
  <div>Name: {{.Lobby.Name}}</div>

  <h4>New Values</h4>
  <div>{{template "lobby-update-form" .}}</div>
</dialog>
{{end}}
