{{define "lobby-update-dialog"}}
<button
  onclick="document.getElementById('update-lobby-dialog').showModal()"
  style="cursor: pointer"
>
  Edit Lobby &#128393;
</button>
<dialog id="update-lobby-dialog">
  <div style="display: grid; grid-auto-flow: column">
    <h3>Update Lobby</h3>
    <div
      onclick="document.getElementById('update-lobby-dialog').close()"
      style="cursor: pointer; text-align: right"
    >
      &#10060;
    </div>
  </div>

  <h4>Current Values</h4>
  <div>Name: {{.Lobby.Name}}</div>

  <h4>New Values</h4>
  <div>{{template "lobby-update-form" .}}</div>
</dialog>
{{end}}
